<%= render 'shared/title', title: 'Sign up'%>

<%= form_for(@user) do |f| %>
  <p><%= f.text_field :name, :placeholder => "Name" %></p>
  <p><%= f.password_field :password, :placeholder => "Password" %></p>
  <%= f.submit class: "btn btn-primary" %>

<% end %>