<div class="row">
  <div class="well col-md-6">
    <p><h4><%= post.title %></h4></p>
    <p><%= post.content %></p>
    <p><%= post.created_at.strftime("%b %d, %Y") %> by 
      <% if post.user != nil %>
      <%= post.user[:nickname] %></p>
      <% end %>
    <p><%= post.comments.size %> comments </p>
    <span>
      <% if show %>
      <%= link_to "Edit Post", edit_post_path(post.id) %> 
       <%= link_to "Delete Post", delete_path(post.id) %> 
      <% else %>
      <%= link_to "show post", post_path(post) %>
      <% end %>
    </span>
  </div>
</div>