<%= render 'shared/title', title: "●ω●" %>

<div class="btn btn-primary">
<%= link_to 'new post', new_post_path, { :style=>'color: white; font-size: 16px', :class => "css_class"} %>
</div>
<div>
<br> <!-- TODO: Fix this -->
</div>
<% @posts.reverse.each do |post| %>
<div class="row">
  <div class="well col-md-6">
    <p><h4><%= post.title %></h4></p>
    <p><%= post.content %></p>
    <p><%= post.created_at.strftime("%b %d, %Y") %></p>
    <p><%= post.comments.size %> comments </p>
    <span>
      <%= link_to "show post", post_path(post) %>
    </span>
  </div>
</div>
<% end %>