<%= render 'shared/title', title: @post.title %>
<div>
    <%= render 'post', post: @post, show: true %>
</div>
<div>
  <% @post.comments.each do |comment|%>
    <div class="col-md-7 well">
      <p><%= comment.content%></p>
      <p><%= comment.created_at.strftime("%b %d, %Y") %></p>
    </div>
    <br>
  <% end %>
  <div class="col-md-7 well" >
    <!-- TODO: how this form_for works? -->
    <%= form_for [@post, @comment] do |f| %>
      <p><%= f.text_area :content %></p>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>